spring:
  application:
    name: kafkaconsumerservice

  main:
    web-application-type: servlet

  kafka:
    bootstrap-servers: localhost:9092
    replay:
      enabled: true

    consumer:
      group-id: order-events-consumer-v4
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer

      properties:
        session.timeout.ms: 15000
        heartbeat.interval.ms: 5000
        max.poll.interval.ms: 300000
        max.poll.records: 10
        spring:
          deserializer:
            key:
              delegate:
                class: org.apache.kafka.common.serialization.StringDeserializer
            value:
              delegate:
                class: org.springframework.kafka.support.serializer.JsonDeserializer
          json:
            trusted:
              packages: com.techwithmona.kafkaconsumerservice.dto
            use:
              type:
                headers: false
            value:
              default:
                type: com.techwithmona.kafkaconsumerservice.dto.OrderEvent

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    listener:
      ack-mode: manual
      idle-event-interval: 1000

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: ""
    driver-class-name: org.h2.Driver

server:
  port: 8082

app:
  kafka:
    topic:
      order-events: order-events

logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure:
            h2: DEBUG
        jdbc: DEBUG